<div id="flexContainer">
  <div id="menuAlbum">
    <fieldset>
      {{#each listeVip}}
        <form method="post" action="/album/{{this.VIP_NUMERO}}" class="photoVip">
          <input type="hidden" name="vipPhoto" value="change" />
          <input type="image" class="menuAlbumNonSelect" src="/images/vip/{{this.PHOTO_ADRESSE}}" name="vipPhoto" value="change" />
          {{#if ../session.indiceListe}}
            <input type="hidden" name="indiceListe" value="{{../session.indiceListe}}" />
          {{else}}
            <input type="hidden" name="indiceListe" value="0" />
          {{/if}}
        </form>
      {{/each}}
      <form method="post" action="/album">
        {{#if session.indiceListe}}
          <input type="hidden" name="indiceListe" value="{{session.indiceListe}}" />
          {{#ifCond session.indiceListe "!=" 0}}
            <input type="submit" name="boutonMenu" value="Début" />
            <input type="submit" name="boutonMenu" value="Précédent" />
          {{/ifCond}}
          {{#ifCond session.indiceListe "!=" longueurListeVip}}
            <input type="submit" name="boutonMenu" value="Suivant" />
            <input type="submit" name="boutonMenu" value="Fin" />
          {{/ifCond}}
        {{else}}
          <input type="hidden" name="indiceListe" value="0">
          <input type="submit" name="boutonMenu" value="Suivant" />
          <input type="submit" name="boutonMenu" value="Fin" />
        {{/if}}
      </form>
    </fieldset>
  </div>
</div>
